.bg-black {
    background-color: #101a20 !important;
}

.col-6 .d-flex:hover {
    background-color: black !important;
    outline: 2px solid #0dcaf0;
    /* Couleur de l'outline */
    transform: scale(1.05);
    /* Agrandissement léger */
    transition: transform 0.9s ease, outline 0.1s ease;
    /* Animation douce */
    cursor: pointer;
}