.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    padding-bottom: 1px !important;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
    border: 1px solid #03405f !important;
    background: #141f26 !important;
    margin-top: 0px !important;
    padding: 8px 6px !important;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ :hover{

    background-color: rgb(19, 135, 193) !important;
}